CHAT_ID=""
BOT_URL=""
SEASON_LENGTH_DAYS=30

JPG_FILE_NAME="latest_season"

CSS_PATH=""

WORDLE_ANSWER_API_URL="https://wordle-answers-solutions.p.rapidapi.com"
WORDLE_ANSWER_API_KEY=""
WORDLE_ANSWER_API_HOST=""