<!DOCTYPE html>
<html>
<head>
    <title>Admin Console</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    {% for record in data["data"] %}
        <h1>{{record["name"]}}</h1>    
        <table>
            <thead>
                <tr>
                    {% for header in record["record"][1] %}
                    <!-- Header row -->
                    <th>{{ header }}</th>
                    {% endfor %}
                    <th>Controls</th>
                </tr>
                
            </thead>
            <tbody>
                <tr>
                    {% for input in record["record"][1] %}
                    <!-- Add record row -->
                        {% if input != 'id' or record['name'] == 'players'%}
                            <td><input type="text" id="{{record['name']}}.{{input}}" placeholder="{{input}}" label="Format"></td>
                        {% else %}
                            <td>{{input}}</td>
                        {% endif %}
                    {% endfor %}
                    
                    <td>
                        <button onclick="post_record({{record}}, '{{data['url']}}')">Add</button>
                    </td>
                </tr>
                {% for row in record["record"][0] %}
                <!-- Rows of each record type -->
                    <tr>
                        {% for col in row %}
                            <td><input id="{{record['name']}}.{{row[0]}}.{{record['record'][1][loop.index - 1]}}" type="text" placeholder="{{col}}" value="{{col}}"></td>
                        {% endfor %}

                        <td>
                            <button onClick="put_record({{row[0]}}, {{record}}, '{{data['url']}}')">Update</button>
                            <button onclick="delete_record({{row[0]}}, {{record}}, '{{data['url']}}')">Delete</button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table> 
    {% endfor %}

    <script>
        function put_record(id, record, url) {
            let body = {}
            for (let i = 0; i < record["record"].length; i++) {
                field = record["record"][i]
                body[field] = document.getElementById(`${record["name"]}.${id}.${field}`).value
            }
            fetch(`${url}/${record["name"]}/${id}`, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(body)
            })
            .then(response => {
                if (response.ok) {
                    // Request was successful
                    console.log('Data point updated successfully');
                } else {
                    // Request encountered an error
                    console.error('Error updating data point');
                }
            })
            .catch(error => {
                console.error('An error occurred:', error);
            });
        }
        function post_record(record, url) {
            let body = {}
            for (let i = 0; i < record["record"].length; i++) {
                field = record["record"][i]
                if (field != 'id' || record["name"] == 'players'){
                    // ID not needed for post unless its player

                    body[field] = document.getElementById(`${record["name"]}.${field}`).value
                }
            }
            fetch(`${url}/${record["name"]}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(body)
            })
            .then(response => {
                if (response.ok) {
                    // Request was successful
                    console.log('Data point added successfully');
                } else {
                    // Request encountered an error
                    console.error('Error adding data point');
                }
            })
            .catch(error => {
                console.error('An error occurred:', error);
            });
        }
        function delete_record(id, record, url){

            table = record["name"]
            console.log(url)
            console.log(table)
            fetch(`${url}/${table}/${id}`, {
                method: 'DELETE',
            })
            .then(response => {
                if (response.ok) {
                    // Request was successful
                    console.log('Data point removed successfully');
                } else {
                    // Request encountered an error
                    console.error('Error removing data point');
                }
            })
            .catch(error => {
                console.error('An error occurred:', error);
            });

        }
    </script>
</body>
</html>